body {
    font-family: sans-serif;
    margin-left: 170px;
    background-color: #dfd;
}

a {
    color: #454;
}

img {
    border: 0;
}

div#sidebar {
    position: fixed;
    top: 1em;
    left: 0;
    width: 135px;
    border: 1px black solid;
    border-left: none;
    padding: 10px;
    background-color: #eee;
}

div#sidebar h1 {
    margin-top: 0;
}

div#authbox {
    background-color: #ccc;
    text-align: right;
}

.debt {
    color: #700;
    background-color: #fcc;
}

.credit {
    color: #070;
    background-color: #cfc;
}

.blackout {
    background-color: #aaa;
}

table.debtboard {
    border: 1px black solid;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
}

table.debtboard .me {
    background-color: #ffc;
}

div#newtransaction {
    margin-top: 1em;
    padding: 1em;
    background-color: #ccc;
    text-align: left;
    border: 1px black solid;
    width: auto;
}

div#debt {
    text-align: center;
}

div#chores {
    text-align: center;
}

div#chores ul {
    text-align: left;
    border: 1px black solid;
    background-color: #ccc;
}

div#chorebox ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}

div#sidebar h2 {
    text-align: right;
    border-bottom: 1px #666 solid;
    margin-bottom: 0;
    padding-bottom: 0;
    background: #ddd;
    font-size: 110%;
}

div#login {
    width: 350px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    text-align: center;
}

form#auth_form {
    text-align: left;
}

ul#outstanding {
    text-align: left;
    border: 1px #555 solid;
    background-color: #ccc;
    padding: 0;
}

ul#outstanding li {
    list-style: none;
    padding: 2px;
    margin: 0;
}

ul#outstanding form, ul#outstanding div {
    display: inline;
    text-align: right;
    margin-left: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.headers {
    background-color: #030;
    color: #cfc;
}

tr.even {
    background-color: #ada;
}

tr.odd {
    background-color: #9c9;
}