<h1>Editing charge_transaction</h1>

<%= error_messages_for :charge_transaction %>

<% form_for(:charge_transaction, :url => charge_transaction_path(@charge_transaction), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', charge_transaction_path(@charge_transaction) %> |
<%= link_to 'Back', charge_transactions_path %>