<h1>New charge_transaction</h1>

<%= error_messages_for :charge_transaction %>

<% form_for(:charge_transaction, :url => charge_transactions_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', charge_transactions_path %>